<!-- <section>
    <div class="container">
        <div class="login-section">
            <h2 class="text-center mb-5">Reset Password</h2>
            <form  [formGroup]="resetPassword"  (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" type="password" name="password" formControlName="password" />
                            <div *ngIf="login.password.touched && login.password.invalid">
                                <small class="text-danger" *ngIf="login.password.errors?.required">
                                    Password is required!
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input class="form-control" type="password" name="confirm_password" formControlName="confirm_password"/>
                            <div *ngIf="login.confirm_password.touched && login.confirm_password.invalid">
                                <small class="text-danger" *ngIf="login.confirm_password.errors?.required">
                                    Confirm Password is required!
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <div class="form-group">
                            <button class="btn btn-info form-control">Reset Password</button>
                        </div>
                    </div>
                </div>
            </form>
            <hr>
            <p class="text-center">Login Here</p>
            <button class="btn btn-danger form-control" [routerLink]="['/login']">Login</button>
        </div>
    </div>
</section> -->

<div class="main">
    <div class="d-flex flex-wrap auth-wrapper">
       <div class="auth-form col-xl-12 d-lg-flex p-0" style="background-image: url(./assets/images/bg-main.jpg);">
          <div class="auth-info col-xl-8 col-lg-8 p-0">
             <div class="main-card-custom card-white">
                <div class="auth-form">
                   <div class="logo">
                      <img src="/assets/images/logo-yogifi.png" alt="">
                   </div>
                   <h2 class="form-title">Reset Password</h2>
                   <form  [formGroup]="resetPassword"  (ngSubmit)="onSubmit()">
                      <div class="row">
                         <div class="col-md-12 form-group">
                            <div class="floating-label-content">
                               <input class="floating-input form-control" type="password" placeholder=" " formControlName="password">
                               <label class="floating-label">Enter Password <span>*</span></label>
                               <div *ngIf="login.password.touched && login.password.invalid">
                                    <small class="text-danger" *ngIf="login.password.errors?.required">
                                        Password is required!
                                    </small>
                                </div>
                             </div>
                         </div>
                         <div class="col-md-12 form-group">
                            <div class="floating-label-content">
                               <input class="floating-input form-control" type="password" placeholder=" " formControlName="confirm_password">
                               <label class="floating-label">Confirm Password <span>*</span></label>
                               <div *ngIf="login.confirm_password.touched && login.confirm_password.invalid">
                                    <small class="text-danger" *ngIf="login.confirm_password.errors?.required">
                                        Confirm Password is required!
                                    </small>
                                </div>
                             </div>
                         </div>
                      </div>
                      <div class="form-actions">
                         <button class="btn btn-dark w-100">Submit</button>
                      </div>

                      <div class="d-flex align-items-center justify-content-center title-sign-up">
                         <hr class="my-auto flex-grow-1">
                         <div class="px-4">
                           <span>Or Login Here</span>
                         </div>
                         <hr class="my-auto flex-grow-1">
                       </div>

                   </form>
                   
                   <div class="form-actions">
                      <button class="btn btn-info w-100"  [routerLink]="['/login']">Login</button>
                   </div>
                   <!-- <div class="social-link">
                      <ul class="social-clients">
                         <li><button class="btn btn-info w-100">Register</button></li>
                         <li><button class="btn btn-info w-100">Login</button></li>
                      </ul>
                   </div> -->
 
                </div>
             </div>
          </div>
          <div class="auth-info col-xl-4 col-lg-4">
            <div class="auth-box position-relative h-100 w-100">
               <div class="mb-auto"></div>
             <div class="logo-right">
                <img src="/assets/images/logo-yogifi-2.png" alt="">
             </div>
            </div>
          </div>
       </div>
    </div>
 </div>