<div class="main">
    <div class="d-flex flex-wrap auth-wrapper">
        <div class="col-xl-12 d-lg-flex p-0" >
        <div class="dashboard-div">
            <div class="mt-5">
            <app-dashboard-sidebar *ngIf="this.data.user_type == 'teacher'"></app-dashboard-sidebar>
            <app-admin-sidebar *ngIf="this.data.user_type == 'admin'"></app-admin-sidebar>
            <div class="container-fluid mt-5">
                <div class="row mt-3">
                    <div class="col-md-11 col-sm-11">
                        <h3>Best Session Details - <span *ngIf="matInfo.student_name">{{matInfo.student_name}}</span></h3>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <div class="row">
                            <a href="javascript:void(0);" class="btn btn-success" [routerLink]="['/best-session']">Back</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <table class="table" id="excel-table">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Asana Count</th>
                            <th scope="col">Score</th>
                            <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let info of matInfo.section_data;let i = index">
                            <td>{{i+1}}</td>
                            <td>{{info.program_name}}</td>
                            <td>{{info.asana_count}}</td>
                            <td>{{info.score}}</td>
                            <td>{{info.date}}</td>
                            </tr>
                        </tbody>
                        </table>
                                
                    </div>  
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>