<!-- <div class="d-flex" id="wrapper">
    <app-sidebar></app-sidebar>
    <div id="page-content-wrapper">
      <app-topbar></app-topbar> -->
<div class="main">
    <div class="d-flex flex-wrap auth-wrapper">
        <div class="col-xl-12 d-lg-flex p-0" >
            <div class="dashboard-div">
                <div class="mt-5">
                    <app-dashboard-sidebar *ngIf="dashdata.user_type == 'teacher'"></app-dashboard-sidebar>
                    <app-admin-sidebar *ngIf="dashdata.user_type == 'admin'"></app-admin-sidebar>
                    <div class="container-fluid mt-3">
                        <div class="card p-3">
                            <form [formGroup]="changePassword"  (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Current Password</label>
                                            <input type="password" class="form-control" name="password" formControlName="password">
                                            <div *ngIf="login.password.touched && login.password.invalid">
                                                <small class="text-danger" *ngIf="login.password.errors?.required">
                                                    Password is required!
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>New Password</label>
                                            <input type="password" class="form-control" name="password" formControlName="new_password"> 
                                            <div *ngIf="login.new_password.touched && login.new_password.invalid">
                                                <small class="text-danger" *ngIf="login.new_password.errors?.required">
                                                    New Password is required!
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <input type="password" class="form-control" name="password" formControlName="confirm_password">
                                            <div *ngIf="login.confirm_password.touched && login.confirm_password.invalid">
                                                <small class="text-danger" *ngIf="login.confirm_password.errors?.required">
                                                    Confirm Password is required!
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-outline-info" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
