<div class="container-fluid">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-7 card">
                <div class="card-body">
                    <div class="content text-center">
                        <h3>Thank You for registering with Yogifi Teacher portal.</h3>
                        <p>We will review your details and get back to you shortly.</p>
                        <button class="btn bg-light" (click)="logout()">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>